# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Project-specific
experiment/fails/
experiment/results_*.csv
experiment/log/
trained_policy/
maps/*.npy
slurm-*.out
FORCES_NLP_solver/
FORCES_*
*.forces
MPC_SOLVER/
run*
src/
research/
picture/
